<div id="page-lifting">
    <div>
        <div class="content-button">
            <div ng-if="!data.coords" id="map-position">
                <div class="text-center padding-top">
                    <h3>Ubicación</h3>
                </div>
                <div id="map" class="map-container"></div>
            </div>
            <div ng-if="!!data.coords">
            <ion-content>
                <div ng-if="!!data.coords" style="padding: 1em;">
                    <div class="step active" step-title="VIALIDAD">
                        <div class="form-element">
                            <label>Tipo de vialidad</label>
                            <form-element type="select" model="data.streetType" options="{items:selectItems.street.types, default:{txt:'Seleccione...', pickable:false}}"></form-element>
                        </div>
                        <div class="form-element">
                            <label>Número de carriles</label>
                            <form-element type="number" model="data.streetNumberLanes" options="{step:1,min:1,max:-1}"></form-element>
                        </div>
                        <div class="form-element">
                            <label>Tipo de pavimento</label>
                            <form-element type="select" model="data.streetMaterial" options="{items:selectItems.street.material}"></form-element>
                        </div>
                        <div class="form-element">
                            <label>Con camellón</label>
                            <form-element type="switch" model="data.streetRidge"></form-element>
                            <div ng-if="data.streetRidge" class="form-element">
                                <label>Camellón ancho</label>
                                <form-element type="switch" model="data.streetRidgeWide"></form-element>
                                <div ng-if="data.streetRidgeWide" class="form-element">
                                    <label>Tamaño</label>
                                    <form-element type="number" model="data.streetRidgeSize" options="{step:0.1, min:0.5}"></form-element>
                                </div>
                            </div>
                        </div>
                        <div class="form-element">
                            <label>Disposición de luminarias</label>
                            <form-element type="select" model="data.streetLightAvailability" options="{items:selectItems.streetLight.avail}"></form-element>
                        </div>
                    </div>
                    <div ng-if="data.streetLightAvailability!='none'&&!!data.streetLightAvailability" class="step active" step-title="POSTE">
                        <div class="form-element">
                            <label>Tipo de poste</label>
                            <form-element type="select" model="data.poleType" options="{items:selectItems.pole.types}"></form-element>
                            <div ng-if="data.poleType!==''" class="form-element">
                                <label>Tiene media tensión</label>
                                <form-element type="switch" model="data.poleDoubleTension"></form-element>
                            </div>
                        </div>
                        <div class="form-element">
                            <label>Modo de cableado</label>
                            <form-element type="select" model="data.wiringMode" options="{items:selectItems.wiring.mode}"></form-element>
                            <div ng-if="data.wiringMode=='Aereo'" class="form-element">
                                <label>Tipo de conexión</label>
                                <form-element type="select" model="data.connectionMode" options="{items:selectItems.connect.mode, default:{txt:' '}}"></form-element>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!!data.poleType" class="step active" step-title="LUMINARIA(S)">
                        <div class="form-element">
                            <label>Número de luminarias</label>
                            <form-element type="number" model="data.poleNumberStreetLights" options="{min:0}"></form-element>
                            <div ng-if="data.poleNumberStreetLights>0" class="form-element">
                                <label>Tecnología</label>
                                <form-element type="select" model="data.streetLightTechnology" options="{items:selectItems.streetLight.tech, default:{txt:'Sin información', pickable:true}}"></form-element>
                            </div>
                            <div ng-if="data.poleNumberStreetLights>0" class="form-element">
                                <label>Aplicación</label>
                                <form-element type="select" model="data.streetLightApplication" options="{items:selectItems.streetLight.appln}"></form-element>
                            </div>
                            <div ng-if="data.poleNumberStreetLights>0" class="form-element">
                                <label>Altura</label>
                                <form-element type="number" model="data.streetLightHeight" options="{step:0.1, min:0}"></form-element> metros
                            </div>
                            <div ng-if="data.poleNumberStreetLights>0" class="form-element">
                                <label>Tamaño de brazo</label>
                                <form-element type="number" model="data.streetLightArm" options="{step:0.1, min:0}"></form-element> metros
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
            </div>
        </div>
        <div class="container-button" ng-class="{
            'hide-on-keyboard-open': false&&!!data.coords,
            'disabled': data.buttonDisabled
          }">
            <span class="icon ion-arrow-right-c" ng-click="next()"> {{!!data.coords?'Guardar':'Siguiente'}}</span>
        </div>
    </div>
</div>