<ion-side-menus>
  <ion-side-menu side="left">
    <ion-content class="scroll-content ionic-scroll">
      <div id="left-menu-list">
        <div menu-toggle class="ion-arrow-swap" ng-click="goTo('lifting')">Reiniciar levantamiento</div>
        <div menu-toggle class="ion-android-exit" onclick="ionic.Platform.exitApp()" ui-sref-opts="{reload: true}">Cerrar</div>
      </div>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content drag-content="!disableDragMenu">
    <div id="page">
      <div id="header">
        <div id="menu"><span class="icon ion-navicon" menu-toggle="left"></span></div><!--
      --><div id="logo"></div><!--
      --><div id="app-version" ng-if="!!appVersion">{{appVersion}}</div>
      </div>
      <div data-ui-view="content" id="content"></div>
    </div>
  </ion-side-menu-content>
</ion-side-menus>
